.spots div {
    display: inline-block;
    margin: 50px;
}

#red {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#black {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#orange {
    background-color: orange;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#red:hover ~ #orange {background-color: red;}

#yellow:hover ~ #orange {background-color: yellow;}

#black:hover ~ #orange {background-color: black;}

#blue:hover ~ #orange {background-color: blue;}
